@media screen and (max-width: 767px) {
    .top-bar {
        background-color: #373737;
        box-shadow: 0px 2px 5px 3px rgba(0,0,0,0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60px;
        position: fixed;
        top: 0;
        width: 100vw;
        z-index: 100;
        
        p {
            color: white;
            font-family: Arial;
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 0;
            text-transform: uppercase;
            
            a {
                color: #CCC;
                font-size: 22px;
                font-weight: bold;
                text-decoration: none;
            }
        }
    }
}