footer {
  background-color: #373737;
  color: #888;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  min-height: 120px;
  padding: 20px;
  position: relative;

  .contact {
    max-width: 400px;
  }

  .address {
    display: inline-block;
    margin: 0 30px 30px 0;
  }

  h3 {
    color: white;
  }

  a {
    color: white;
    font-size: 16px;
    text-decoration: none;
  }

  p {
    color: #888;
    margin: 0;
  }
  
  .copyright {
    font-size: 12px;
    position: absolute;
    right: 10px;
    bottom: 10px;
  }

  dt,
  dd {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;;
  }

  dt {
    min-width: 140px;
  }
}

@media screen and (max-width: 767px) {
}
